# Domaine (Traefik)
JAVA_SECURE_DOMAIN=api.local

# --- DB (db-secure) ---
DB_HOST=db-secure
DB_PORT=3306
DB_NAME=java_secure
DB_USER=java_secure_user
DB_PASSWORD=change-me

# --- App secrets ---
APP_SECRET=change-me-very-long-random
