# Eclipse
.classpath
.project
.settings/
bin/
.factorypath
.README.md.html
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

.idea/codeStyles/
.idea/shelf/
.idea/sonarlint/
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/sonarlint.xml
.idea/sonarlint-state.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
